<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>		
		<add name="DefaultConnection" connectionString="Data Source=.\modul2OBD.sqbpro" providerName="System.Data.SQLite" />
	</connectionStrings>
	<appSettings>
		<add key="provider" value="System.Data.SqlClient"/>
	</appSettings>

	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>	
	<provider invariantName="System.Data.SQLite"  type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6"/>
</configuration>